.container {
    position: relative;
}

.container input {
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    position: relative;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    background-color: #e2dded;
    color: #212121;
    outline: none;
    box-shadow: 0px 4px 20px 0 transparent;
    transition: 0.3s backgroud-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
}

.container input::-webkit-input-placeholder {
    color: rgba(184, 176, 176, 0.8)
}

.container input::-moz-placeholder {
    color: rgba(184, 176, 176, 0.8)
}

.container input:-ms-input-placeholder {
    color: rgba(184, 176, 176, 0.8)
}

.container input + label {
    position: absolute;
    top: 24px;
    left: 15px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.3rem;
    opacity: 0;
    pointer-events: none;
    transition: 0.1s all ease-in-out;
}

.container:hover {
    background-color: rgb(236, 236, 236);
    box-shadow: 0px 4px 20px 0 rgba(255, 255, 255, 0.5);
}

.container.active {
    background-color: #ffffff;
    box-shadow: 0px 4px 20px 0 rgba(255, 255, 255, 0.2);
}

.container.active input {
    padding: 1.2rem 1rem 0.2rem 1rem;
}

.container.active input + label {
    top: 0.2rem;
    opacity: 1;
    color: #212121;
}