.cartDetailActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 500px;
}

.cartTotal {
    font-size: 1.5rem;
    font-weight: bold;
}

.cartButttonCheckout {
    border: none;
    background-color: #5156A4;
    color: #ffffff;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 0.2rem;
    transition: all 0.3s ease-in-out;
}

.cartButttonCheckout:hover {
    background-color: #3f428e;
}