.contentContainer {
    margin: 1rem 1.6rem;
  }
  
  .headerTitleCard {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
  }
  
  .inputContainer {
    width: 100%;
    padding: 1rem;
  }
  
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    overflow: hidden;
  }

  .categoryContainer {
    min-width: 200px;
    height: fit-content;
    background-color: #5156A4;
    padding: 1rem;
  }