.cartItem {
    display: flex;
    justify-content: center;
}

.cartItem {
    display: flex;
    flex-direction: row;
    background-color: #FFFFEB;
    border: 1px solid #efefdc;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.cartContentContainer {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 1rem;
    color: #000000;
    justify-content: space-between;
  }
  .cartProductName {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .cartQuantity {
    font-size: 0.9rem;
  }
  .cartPrice {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .cartStock {
    font-size: 0.9rem;
  }
  .cartActions {
    display: flex;
    flex-direction: row;
    max-width: 280px;
    justify-content: space-between;
  }
  .cartButttonAdd {
      border: none;
      background-color: #5156A4;
      color: #ffffff;
      padding: 1rem 2rem;
      border-radius: 0.2rem;
      transition: all 0.3s ease-in-out;
  }
  .cartButttonAdd:hover {
    background-color: #CBBAED;
    color: #000000;
  }
  .cartButttonDecrease {
    border: none;
      background-color: #FFFFEB;
      color: #000000;
      padding: 1rem 2rem;
      border-radius: 0.2rem;
      border: 1px solid #000000;
      transition: all 0.3s ease-in-out;
  }
  .cartButttonRemove {
      border: none;
      background-color: #FFFFEB;
      color: #000000;
      padding: 1rem 2rem;
      border-radius: 0.2rem;
      border: 1px solid #000000;
      transition: all 0.3s ease-in-out;
  }
  
  .cartButttonDecrease:hover,
  .cartButttonRemove:hover
  {
    background-color: #5156A4;
    color: #ffffff;
  }