.header {
    background-color: #CBBAED;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    width: 100%;
}
.logo {
    display: inline-block;
    color: #212121;
    font-size: 2rem;
    margin-left: 10px;
    font-weight: bold;
}
.side-menu {

}
.hamb {

}
.hamb-line {

}
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    overflow: hidden;
}
.menu a{
    display: block;
    padding: 25px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.menu a:hover {
    background-color: #fff;
    color: #212121;
}