.header {
    background-color: #CBBAED;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 2;
}
.logo {
    display: inline-block;
    color: #212121;
    font-size: 2rem;
    padding: 0.7rem;
    font-weight: bold;
}
.hamb {
    cursor: pointer;
    float: right;
    padding: 1.8rem 1rem;
}
.hamb-line {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    width: 25px;
}

.hamb-line::before,
.hamb-line::after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px
}

.hamb-line::after {
    top: -5px
}
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}
.menu a{
    display: block;
    padding: 1.3rem;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.menu a:hover {
    background-color: #fff;
    color: #212121;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ nav {
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line:before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: #fff;
    }

    .hamb {
        display: none;
    }
}