* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFEB;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.contentContainer {
  margin: 1rem 1.6rem;
}

.headerTitleCard {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.inputContainer {
  width: 100%;
  padding: 1rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
}