* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFEB;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.inputContainer {
  width: 100%;
  padding: 1rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}