.slider {
    overflow: hidden;
    position: relative;
}
.sliderContent {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: pointer;
    padding: 0 3rem;
}

.nextButton,
.previousButton {
    border: none;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 0.5rem;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.nextButton {
    right: 0;
}

.nextButton:active,
.previousButton:active,
.nextButton:hover,
.previousButton:hover {
    background-color: #FFFFFF;
    color: #000000;
}