.slider {
    overflow: hidden;
    position: relative;
}
.sliderContent {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.nextButton,
.previousButton {
    border: none;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 0.5rem;
}

.nextButton {
    right: 0;
}

.previousButton span,
.nextButton span {
    font-size: 1.5rem;
    color: #FFFFFF;
}